<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>eScanning</title>
		
		<link rel="stylesheet" href="static/css/bootstrap-3.2.0.css">
		<link rel="stylesheet" href="static/css/bootstrap-theme-3.2.0.css">
		<link rel="stylesheet" href="static/css/esc_custom.css">
		<link  href="static/css/cropper.css" rel="stylesheet">
		<script src="static/js/jquery-1.11.1.min.js"></script>
	    <title>{% block title %}{% endblock %}</title>
	</head>


<body>
    <div id="body-content">
        {% block body-content %}
        
        {% endblock %}
    </div>

    
        <div id="footer">
            Copyright &copy; 2005. eSolve Technologies Pvt. Ltd. All rights reserved.&nbsp;Site best viewed on IE 9+, Firefox and Chrome at 1024x768 resolution.
        </div>
        		
		
		<script src="static/js/bootstrap-3.2.0.js"></script>
		<script src="static/js/cropper.js"></script>
		<script type="text/javascript" src="static/js/esc_custom.js"></script>
		
		
</body>
</html>