{% extends "com.html" %}

{% block title %}eScanning{% endblock %}

{% block body-content %}

<div class="container">
	<h2 style="text-align: center;">eImgEdit - ModaL Demo</h2>
	<hr>
	<div class="row text-center">
		<h3>The Large Modal</h3>
		<a href="dashboard_scan" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#largeModal">Click to Start Scan</a>
	<!--	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			Select Printer
			<span class="caret"></span>
			
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#">Action</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#">Another action</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#">Something else here</a>
			</li>
			<li role="presentation" class="divider"></li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#">Separated link</a>
			</li>
		</ul> -->
	</div>
	<hr>

</div>

{% endblock %}